body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #a0a19f, #8b8b8b);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2f2f2e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2f2f2e;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    color: #2f2f2e;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 20px;
    color: #333;
    font-size: 12px;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: left;
}
